 <div id = "HOME" class="menu-container">
            <div class="card-header col-md-12 text-center">
              <h2>
                The Tech Talk Space
              </h2>
              </div>
              </div>
           </div>
</div>
<!-- blog cards -->
<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <img class="card-img-top" src="https://tse1.mm.bing.net/th?id=OIP.tAh4IvhbxtzpJUCMwC-djQHaGe&pid=Api&P=0&w=201&h=175" alt="Card image">
      <div class="card-body">
        <h5 class="card-title">Some new devs on the block</h5>
        <p class="card-text">New coders trying to break the system..</p>
        <a href="/" class="btn btn-primary">See Blog</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <img class="card-img-top" src="https://tse1.mm.bing.net/th?id=OIP.tAh4IvhbxtzpJUCMwC-djQHaGe&pid=Api&P=0&w=201&h=175" alt="Card image">
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">New coders trying to break the system..</p>
        <a href="/" class="btn btn-primary">See Blog</a>
      </div>
    </div>
    
  </div>
  <div class="col-sm-6">
    <div class="card">
      <img class="card-img-top" src="https://tse1.mm.bing.net/th?id=OIP.tAh4IvhbxtzpJUCMwC-djQHaGe&pid=Api&P=0&w=201&h=175" alt="Card image">
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">New coders trying to break the system..</p>
        <a href="/" class="btn btn-primary">See Blog</a>
      </div>
    </div>
    
</div>
<div class="col-sm-6">
  <div class="card">
    <img class="card-img-top" src="https://tse1.mm.bing.net/th?id=OIP.tAh4IvhbxtzpJUCMwC-djQHaGe&pid=Api&P=0&w=201&h=175" alt="Card image">
    <div class="card-body">
      <h5 class="card-title">Special title treatment</h5>
      <p class="card-text">New coders trying to break the system..</p>
      <a href="/" class="btn btn-primary">See Blog</a>
    </div>
  </div>
  {{!-- dashbord --}}
         <div class='container-fluid'>
            <section>
                <div class='d-flex flex-row-reverse col-12'>
                    <button class='btn btn-secondary' id='btn-add'>+ Add New</button>
                </div>
            </section>
            
            <section class='New-list'>
                <div class='col-12'>
                        <h3 class='my-News'>My sutff</h3>
<div>stuff goes here
                    {{#if posts.length}}
                        {{#each posts as |post|}}
                       
                  <a href='/New/{{post.id}}'></a>
                                <div scope='row'>{{post.title}}</div>
                                <div id='content' class='word-break: break-word;'>{{post.content}}</div>
                                <div id='created-at'>{{format_date post.created_at}}</div>
                                <div id='updated_at'>{{format_date post.updated_at}}</div>
                                <div class='edit-btns'>
                                    <button class='btn btn-primary btn-update' data-id='{{post.id}}'>Update</button>
                                    <button class='btn btn-warning btn-delete' data-id='{{post.id}}'>Delete</button>
                                </div>
             
                        {{/each}}
                    {{/if}}
                </div>
                </div>
            </section>
        </div>


<script src='./js/dashboard.js'></script> 