 <div id = "HOME" class="menu-container">
            <div class="card-header col-md-12 text-center">
              <h2>
                The Tech Talk Space
              </h2>
              </div>
              </div>
           </div>
</div>
<!-- blog cards -->
<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <img class="card-img-top" src="https://tse1.mm.bing.net/th?id=OIP.tAh4IvhbxtzpJUCMwC-djQHaGe&pid=Api&P=0&w=201&h=175" alt="Card image">
      <div class="card-body">
        <h5 class="card-title">Some new devs on the block</h5>
        <p class="card-text">New coders trying to break the system..</p>
        <a href="/" class="btn btn-primary">See Blog</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <img class="card-img-top" src="https://tse1.mm.bing.net/th?id=OIP.tAh4IvhbxtzpJUCMwC-djQHaGe&pid=Api&P=0&w=201&h=175" alt="Card image">
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">New coders trying to break the system..</p>
        <a href="/" class="btn btn-primary">See Blog</a>
      </div>
    </div>
    
  </div>
  <div class="col-sm-6">
    <div class="card">
      <img class="card-img-top" src="https://tse1.mm.bing.net/th?id=OIP.tAh4IvhbxtzpJUCMwC-djQHaGe&pid=Api&P=0&w=201&h=175" alt="Card image">
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">New coders trying to break the system..</p>
        <a href="/" class="btn btn-primary">See Blog</a>
      </div>
    </div>
    
</div>
<div class="col-sm-6">
  <div class="card">
    <img class="card-img-top" src="https://tse1.mm.bing.net/th?id=OIP.tAh4IvhbxtzpJUCMwC-djQHaGe&pid=Api&P=0&w=201&h=175" alt="Card image">
    <div class="card-body">
      <h5 class="card-title">Special title treatment</h5>
      <p class="card-text">New coders trying to break the system..</p>
      <a href="/" class="btn btn-primary">See Blog</a>
    </div>
  </div>


  <!-- Loop over each object in the Projects array -->
{{#each Projects as |Project| }}
<div class="row mb-4 project">
  <div class="col-md-5">
    <h2>
      <!-- Call helper function with triple brackets to render the emoji span as HTML -->
      {{{get_emoji}}}
      <a href="/project/{{Project.id}}">{{Project.name}}</a>
    </h2>
    <p>
      <span for="img" aria-label="money">💲</span>
      <!-- Pass needed_funding value to the helper function -->
      <span class="dollar-amount">{{format_amount Project.needed_funding}}</span>
      needed!
    </p>
    <p>Created by {{Project.user.name}} on {{format_date Project.date_created}}</p>
  </div>
  <div class="col-md-7">
    <p>
      {{Project.description}}
    </p>
  </div>
</div>
{{/each}}
